/********** Global **********/

* {
  margin: 0;
}

html, body {
    color: #393733;
    margin: 0;
    padding: 0;
    background: #e7e7de;
}

body {
    font: 83%/1.4 arial, helvetica, sans-serif;
}

a {
  color: #105CB6;
  cursor: pointer;
  outline: none !important;
  text-decoration: none;
}

a:visited {
  color: #105CB6;
}

a:hover, a:focus {
  color: #003;
  text-decoration: underline;
}

a:active {
  color: #000;
}

a img {
  border: none;
}

.clr {
  clear: both;
}

ul {
  list-style-type: disc;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: #BFB848;
}

.notimportant {
  color: #999;
}

label {
  display: block;
}

div.labelinline label {
  display: inline;
}

div.error-message {
  background-color: #fdd7d6;
  display: inline;
  padding: 3px;
  margin: 5px;
}

fieldset {
  border: 1px solid #aaa;
}

input[type=radio] {
  display: inline;
  margin-left: 12px;
  margin-right: 4px;
}

/********** Header **********/

div#header {
  background: url(../img/header_bg.png) repeat-x top left #7085a1;
}

div#header h1 {
display: none;
}

div#header a#logo {
  float: left;
  height: 94px;
  width: 220px;
  margin-top: 5px;
  margin-right: 20px;
}

div#header div.wrapper {
  width: 950px;
  margin: 0 auto;
  padding: 0;
}

/********** Menus **********/

div#header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div#header ul li {
  float: left;
  margin: 7px 2px 0 2px;
  padding: 0;
border-radius : 4px 4px 0 0;
}

div#header ul#nav li {
  margin-top: 69px;
}

div#header ul#fast_nav li {
  float: right;
  margin-top: 80px;
  padding: 0;

}

div#header ul li a {
  display: block;
  float: left;
  color: white;
  line-height: 38px;
  height: 36px;
  padding: 0 13px;
  font-size: 16px;
  border-radius : 4px 4px 0 0;
}

div#header ul#fast_nav li a {
  border-radius : 4px 4px 0 0;
}

div#header ul#fast_nav li a {
  color: white;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  font-size: 13px;
}

div#header ul li a:hover {
  text-decoration: none;
  background-color: #56667b;
}

div#header ul#fast_nav li a:hover {
  text-decoration: underline;
}

div#header ul li a.current {
  text-decoration: none;
  background-color: #404c5b;
}

div#header form {
  margin-top: 25px;
  float: right;
}

div#header input {
  float: left;
  margin: 12px 0 0 0;
}

div#header div.right {
  float: right;
  width: 720px;
}

div.menu-tuto {
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

a.selflink {
  font-weight: bold;
  text-decoration: none;
}


/********** Page **********/

div#page {
  background: url(../img/tl.gif) no-repeat left top white;
}

div#pagecontent {
  padding: 5px 10px 10px 10px;
}

div#page div.tr {
  margin: 0 0 0 5px;
  height: 5px;
  background: url(../img/tr.gif) no-repeat right top transparent;
}

div#page div.bl {
  background: url(../img/bl.gif) no-repeat left bottom transparent;
}

div#page div.br {
  margin: 0 0 0 5px;
  height: 5px;
  background: url(../img/br.gif) no-repeat right bottom transparent;
}


/********** Content **********/

div#content {
  padding: 10px 0 0 0;
}

div#content div.wrapper {
  width: 950px;
  margin: 0 auto;
}

div.iphone div#content div.wrapper {
  width: 305px;
}

div#content p {
  padding: 3px 0;
}

div#content h2, div#content h3, div#content h4 {
  font-weight: normal;
}

div#content h2 {
  font-size: 1.6em;
  margin-top: 16px;
}

div#content h3 {
  font-size: 1.3em;
  margin-top: 8px;
}

div#content h4 {
  font-size: 1.2em;
  margin-top: 16px;
}

div#content h1 {
	text-align: left;
	margin-bottom: 8px;
  margin-top: 16px;
}

div#content a.logo {
	margin-left: 20px;
}

/********** blocklist **********/

div#content div.blocklist {
	border-style:dashed;
	border-width: 2px;
	border-color: #e1e1e1;
	margin-top: 8px;
	border-radius: 8px;
	cursor:pointer;
	padding-bottom: 8px;
}

div#content div.blocklist:hover, div#content div.blocklist:visited {
	background-color: #f6f6f6;
	cursor:pointer;
}
/*
div#content div.blocklist a {
	display: block;
	text-decoration: none;
	padding: 8px;
	border-radius: 8px;
}

div#content div.blocklist a:link, div#content div.blocklist a:visited {
	color: #393733;
	background-color: #e8eef1;
}
*/
div#content div.blocklist p, div#content div.blocklist h2 {
	padding: 4px 8px 2px 8px;
}

div#content div.blocklist a:hover {
	background-color: #f1f1d1;
	/*color: #292723;*/
}


/********** Code **********/
div#content p.codelinks {
	font-size: 1.1em;
	text-align: right;
	border-right: 8px;
}

div#content a.codelink_distem, div#content a.codelink_shell, div#content a.codelink_rest
{
	display: inline-block;
	padding: 1px 6px;
	font-size: 0.9em;
	text-align: center;
	/* border: 1px solid #aaaaaa; */
	border-radius: 4px;
	font-variant: small-caps;
    text-decoration:none;
	color: #393733;
}

div#content a.codelink_distem {
	background-color: #ffdada;
}

div#content a.codelink_shell {
	background-color: #dadada;
}

div#content a.codelink_rest {
	background-color: #dadaff;
}

div#content pre.code_distem, div#content pre.code_shell, div#content pre.code_rest
{
	font-family: monospace;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1.2em;
	margin-left: 100px;
	padding: 8px 16px;
	width: 680px;
	border-radius: 4px;
}

div#content pre.code_distem {
	background-color: #ffdada;
}

div#content pre.code_distem span
{
        color: gray;
}

div#content pre.code_shell {
	background-color: #cdcdcd;
}

div#content pre.code_rest {
	background-color: #dadaff;
}

/********** Manual **********/
div#content h1 a.manual {
	text-decoration: none;
	color: #393733;
}


/********** Important **********/

div#content div.important {
  margin: 1.5em 0;
  padding: 0.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f6f6f6;
}

div#content a.selected {
  border-bottom: 1px dotted #2772e3;
}

div#content div.important a.selected:hover {
  text-decoration: none;
}

div#content div.important p {
  padding: 0;
}

div#content div.important form {
  margin: 0;
}

div#content div.important form div.block {
  float: left;
  margin: 0 0.5em 0 0;
}

div#content div.important form input[type=text] {
  width: 80px;
}


/********** Form **********/

div#page form {
  margin: 0 1em 0 0;
}

div#page input[type=text], div#page input[type=password] {
  border: 1px solid #aaa;
}

div#page input.form-error, div#page textarea.form-error {
  border: 2px solid red;
}

div#page input, div#page textarea {
  font-size: 1em;
  padding: 0.2em;
}

div#page textarea {
  font-size: 1.3em;
}

div#page form p {
  padding: 0.5em 0;
}

div#page span.help {
  font-size: 0.95em;
  color: #666;
}


/********** Footer **********/

div#footer {
  clear: both;
}

div#footer div.wrapper {
  width: 950px;
  margin: 0 auto;
}

div#footer, div#footer a {
  color: #111;
}

div#footer img {
  margin-left: 16px;
  margin-right: 4px;
}


div#footer p {
  padding: 1em;
  font-size: 1em;
  text-align: center;
}

div#footer p span {
  font-size: 0.8em;
  color: #333;
}


/********** Buttons **********/

.buttons a , .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
    border-radius: 6px;
}

div.important .buttons a, div.important .buttons button{
  border:1px solid #bbb;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
}

.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}

*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}

.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}

.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}

.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}

.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/********** Paginator **********/

div#paginator {
  padding: 1em 0 0 0;
  text-align: center;
}

div#paginator a {
  margin: 0.2em 0.3em;
  padding: 0.15em 0.4em;
  border: 1px solid #105CB6;
}

div#paginator a:hover {
  color: white;
  background-color: #105CB6;
  text-decoration: none;
}

/********** Tables **********/

div#page table {
  width: 100%;
}

div#page table tr td, div#page table th {
  padding: 0.1em 0.3em;
}

div#page table tr:hover td, div#page table tr.odd:hover td {
  background-color: #fff999;
}

div#page table tr.light td, div#page table tr.light th {
  background-color: #dedede;
}

div#page table.no_effect tr:hover td, div#page table.no_effect tr.odd:hover td {
  background-color: transparent;
}

div#page table tr.odd td {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div#page table tr td.num {
  font-weight: bold;
  width: 1px;
}

div#page table th {
  text-align: left;
  color: #333;
  background-color: #7085a1;
  color: white;
  border-bottom: 1px solid #404c5b;
}


/********** Comments **********/

div#comments div.entry {
  margin: 3px 0;
  padding: 3px 3px 6px 3px;
  border-bottom: 1px solid #e7e7de;
}

a.tweet {
  color: #393733;
}

a.tweet:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

/********** Bubble tooltips **********/

a.tt{
    position:relative;
    z-index:24;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
    text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(../img/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px;
	background: url(../img/bubble_filler.gif) repeat bottom;
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(../img/bubble.gif) no-repeat bottom;
}

/*** publications list ****/

ul.publis li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
}

table.usage {
	border: 1px solid black;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
}
div#page table.usage th {
	text-align: center;
}

table.usage td,th {
	border: 1px solid black;
	margin: 0px 0px 0px 0px;
}
